.sitemap h3 {
  margin-top: 8px;
  background-color: #f7fafc;
}

.sitemap li {
  margin-left: 16px;
}

.dropdown-btn::before {
  content: "+";
  position: absolute;
  right: 5%;
  transition: ease-out 0.4s;
}

.dropdown-btn-animation.dropdown-btn::before {
  transform: rotate(45deg) scale(1.2);
}

.dropdown-btn-animation.dropdown-btn::after {
  display: none;
}

.dropdown-btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 12px;
  border-bottom: 1.5px solid #eaeef3;
}

.dropdown-menu::after {
  content: "";
  display: block;
  width: 100%;
  height: 12px;
  border-bottom: 1.5px solid #eaeef3;
}

.dropdown-menu-animation {
  animation: 0.4s ease-out slide;
}

@keyframes slide {
  from {
    margin-top: -50px;
    opacity: 0;
  }

  to {
    margin-top: 0;
    opacity: 1;
  }
}

.bag-view-curtain {
  filter: blur(1px);
}

.bag-view-btn-caret::after {
  border-color: #fff;
  bottom: -4px;
}

.bar label {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
}
.menuicon-checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.menuicon-bread {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 9px;
  left: 9px;
}
.menuicon-crust {
  position: absolute;
  width: 17px;
  height: 1px;
  background: #000;
  border-radius: 0.5px;
  left: 7px;
  transition: all 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}
.menuicon-top {
  top: 11px;
}
.menuicon-bottom {
  bottom: 11px;
}
.menu-on .menuicon-crust {
  top: 15px;
}
.menu-on .menuicon-top {
  transform: scaleX(1.2) rotate(50deg);
}
.menu-on .menuicon-bottom {
  transform: scaleX(1.2) rotate(-50deg);
}
.menu {
  overflow: hidden;
  height: 0;
  transition: all 0.2806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}
.menu.focused {
  transform: translateY(-3rem);
}
.menu-search-text {
  width: 98%;
  transition: all 0.2806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}
.menu-search-text:focus {
  width: 75%;
}
.menu-search-cancel {
  transition: all 0.8s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}
.menu-search-text:focus + .menu-search-cancel {
  opacity: 1;
}
.menu-on {
  background-color: #b7791f;
  transition: all 0.2806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}
.menu-on .menu {
  height: 100vh;
  background-color: #b7791f;
}
.menu-list li {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  height: 46px;
}
.menu-list li::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 1.5px solid #666a70;
}
.menu-list li:first-child::before {
  width: 150%;
  left: -30%;
}
.logo {
  position: absolute;
  width: 32px;
  top: 7px;
  left: 7px;
}
.bag {
  position: absolute;
  top: 11px;
  right: 10px;
}
.bag-view-btn {
  opacity: 1;
  transition: all 0.2806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}
.menu-on .bag-view-btn {
  opacity: 0;
  z-index: -1;
}
